Overview of Python by Jose Portilla

# Formatting

In [ ]:
bro=3;name1='Behlül';name2='Talha';name3='Bilal'

In [ ]:
print("I have {} brothers and my brothers' name are {}, {}, {}".format(bro,name1,name2,name3))

# String

In [ ]:
s='hello world'

In [ ]:
s[2]

In [ ]:
s[3:]

In [ ]:
s[:8]

# String properties

In [ ]:
f='Hello, my name is abdullah'

In [ ]:
f.upper()

In [ ]:
f.lower()

In [ ]:
f.split()

# List

In [ ]:
my_list=['a','b','c','d','e']

In [ ]:
my_list.append('f')

In [ ]:
my_list

In [ ]:
my_list[2:4]

In [ ]:
my_list[0]='UPDATE'

In [ ]:
my_list

In [ ]:
nest=[1,2,3,[4,5,['target']]]

In [ ]:
nest[3][2]

# Dictionary

In [ ]:
dict={'family_name':['Behlül','Talha','Bilal','Abdullah'],'age':[36,35,31,25]}

In [ ]:
dict

# Tuples

In [ ]:
t=(1,2,3)

In [ ]:
#tuple is immutable and does not support item assignment. (Tuple and list become distinct)
#t[0]='NEW' gives an error beacause of the reason stated above

In [ ]:
x=[(1,2),(3,4),(5,6)]
for (a,b) in x:
    print(a)

# Set

In [ ]:
d={1,2,3,1,2,3,3,2,1} #collection of unique values
d

In [ ]:
d.add(7)
d

# IF Condition

In [ ]:
x=7
if x % 3 == 2 :
   x = x+1
elif x % 3 ==1 :
   x = x+2
elif x % 3 ==0 :
   x = x
print(x)

# For Loop

In [ ]:
for i in range(0,6):
    print(i)

In [ ]:
x=[1,2,3,4]
out1=[]
for num in x :
    out1.append(num**2)

In [ ]:
print(out1)

In [ ]:
out2=[num**2 for num in x]
out2

# While Loop

In [ ]:
i=1
while i<5:
    print('i is : {}'.format(i))
    i=i+1

# Function

In [ ]:
def square(num):
    num=num**2
    return num

In [ ]:
square(3)

# Map Function

In [ ]:
seq=[1,2,3,4,5]
list(map(lambda num:num*3,seq))

In [ ]:
list(filter(lambda x: x%2 ==0,seq))